.border{
  border: 1px solid;
}

.wadah {
  width: 700px;
  margin: auto;
}

h2:hover{
  background-color: red;
}

p::first-line {
  color: #ff0000;
  font-size: xx-large;
}

.display{
  display: inline-block;
  padding: 3%;
}

.warna {
  background-image: linear-gradient(to right, red, , rgb(7, 7, 7));
  color: white;
}

img{
  width: 100px;
}

.card {
  width: 30%;
  padding: 5%;
  box-sizing: border-box;
}

.horizontal {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.rata {
  text-align: center;
}