* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #ffffff;
    padding: 20px;
}

.produk-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 20px;
}

.produk {
    text-align: center;
    background-color: rgb(215, 235, 250);
    transition: all 0.3s ease;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.produk img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 6px;
}

.produk h2 {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.deskripsi {
    padding: 10px 16px;
    font-size: 1.2rem;
    color: rgb(171, 182, 248);
    line-height: 1.4;
    text-align: justify;

}

.btn-beli > button {
    font-size: large;
    width: 50px;
    height: 30px;
}